<!DOCTYPE html>
<html>
    <head>
        <meta charset="urf-8">
        <title>Page</title>
    </head>
    <body>
        {{> header}}
        <p>Some aboutr Content</p>

        {{> footer}}
    </body>
</html>